{% extends "stammdaten/base.html" %}

{% block content %}
<h1>Aufgaben 
    <i 
        class="bi bi-plus text-secondary" 
        title="Aufgabe hinzufügen"
        id = "btn_task_add" 
        ></i>
</h1>
<div class="row shadow border " >
    {% comment %} To Do Liste {% endcomment %}
    <div class = "col border shadow bg-primary-subtle droppable" id="lst_todo">
        <div class="bg-primary text-center col-12 text-light">To Do</div>
        {% for element in todo %}
            <a id = "ebtn_{{element.id}}" class="btn btn-outline-dark m-2 shadow col draggable" data-bs-toggle="collapse" href="#ce_{{element.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{element.ueber}}
            </a>

            <div class="collapse col-12 mb-2" id="ce_{{element.id}}">
                <div class="card card-body">
                    <p>{{element.bereich}}</p>
                    <pre>{{element.inhalt}}</pre>
                </div>
            </div>
        {% endfor %}
    </div>
    {% comment %} Liste progress {% endcomment %}
    <div class = "col border shadow bg-info-subtle droppable" id="lst_progr">
        <div class = "bg-info text-center col-12 ">Progress</div>
        {% for element in progress %}
            <a id = "ebtn_{{element.id}}" class="btn btn-outline-dark m-2 shadow col draggable" data-bs-toggle="collapse" href="#ce_{{element.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{element.ueber}}
            </a>
            <div class="collapse col-12 mb-2" id="ce_{{element.id}}">
                <div class="card card-body">
                    <p>{{element.bereich}}</p>
                    <pre>{{element.inhalt}}</pre>
                </div>
            </div>
        {% endfor %}
    </div>
    
    {% comment %} Liste done {% endcomment %}
    <div class = "col border shadow bg-success-subtle droppable" id="lst_done">
        <div class="bg-success text-center col-12 text-light">Done</div>
        {% for element in done %}
            <a id = "ebtn_{{element.id}}" class="btn btn-outline-dark shadow m-2 col draggable" data-bs-toggle="collapse" href="#ce_{{element.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{element.ueber}}
            </a>
            <div class="collapse col-12 mb-2" id="ce_{{element.id}}">
                <div class = "card card-body">
                    <p>{{element.bereich}}</p>
                    <pre>{{element.inhalt}}</pre>
                    <hr />
                    <div>
                    <i id ="trash" class="bi bi-trash3 float-end" onclick="trash_onclick({{element.id}})"></i>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% comment %} Dialog Modal {% endcomment %}
    <div id="grp_detail" class="modal fade hide" role="dialog" tabindex='-1'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content form_content  bg-primary-subtle shadow">
                {% include './task_modal.html' %}
            </div>
        </div>
    </div>

    {% comment %} Liste own {% endcomment %}
    {% if own %}
        <div class = "col border shadow bg-success-subtle" id="lst_own">
            <div class="bg-success text-center col-12 text-light">Eigene</div>
            {% for element in own %}
                <a id = "ebtn_{{element.id}}" class="btn btn-outline-dark shadow m-2 col draggable" data-bs-toggle="collapse" href="#ce_{{element.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    {{element.ueber}}
                </a>
                <div class="collapse col-12 mb-2" id="ce_{{element.id}}">
                    <div class = "card card-body">
                    {{element.verantwortlich.last_name}}, {{element.verantwortlich.first_name}}<hr />
                    <pre>{{element.inhalt}}</pre>
                    </div>
                </div>
            {% endfor %}
        </div>
            <div id="grp_detail" class="modal fade hide" role="dialog" tabindex='-1'>
            <div class="modal-dialog modal-lg">
                <div class="modal-content form_content  bg-primary-subtle shadow">
                    {% include './task_modal.html' %}
                </div>
            </div>
        </div>
        {% endif %}

    <script src="https://code.jquery.com/ui/1.14.2/jquery-ui.js"></script>
    <script>       
        $( function() {
            $( ".draggable" ).draggable();
            $( ".droppable" ).droppable({
                drop: function( event, ui ) {
                    var s_id = $(ui.draggable).attr("id");
                    console.log(s_id);
                        s_id = s_id.split("_")[1];
                    var t_id = $(this).attr("id");
                    let text = prompt("Geben Sie einen Kommentar ein", "");
                    $(`#ce_${s_id}`).remove();
                    $.ajax({
                        type: "POST",
                        url: "{% url 'task:task_dnd' %}",
                        data: {
                            id      : s_id,
                            target  : t_id,
                            comment : text,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function(data) {
                            window.location.reload(true);
                        },
                        error: handleError,
                    });
                }
            });
        } );
        $('#btn_task_add').click(function(e) {
            $.ajax({
                type: "POST",
                url: "{% url 'task:get_task_form' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    bereich = data['bereich'];
                    $('#task_bereich').html(bereich);
                    $('#task_verant').html(data['verant']);
                },
                error: handleError,
            });
            $('#btn_task').text('Aufgabe speichern');
            $('#btn_task').attr('onClick', 'frm_mod_submit()');
            $('#grp_detail').modal('show');

        })
        
        function handleSuccess(data) {
            $(".form_content").html(data.group_form);
        };

        function handleError(error_data) {
            console.log("error");
            console.log(error_data);
        };

        function frm_mod_submit()  {
            $('#grp_detail').modal('hide');
            $.ajax({
                type: "POST",
                url: "{% url 'task:save_task_form' %}",
                data: {
                    aufgabe             : $('#task_aufgabe').val(),
                    bereich             : $('#task_bereich').val(),
                    info                : $('#task_info').val(),
                    verant              : $('#task_verant').val(),
                    termin              : $('#task_termin').val(),
                    prio                : $('#task_prio').val(),
                    zykl                : $('#task_zykl').is(':checked'),
                    csrfmiddlewaretoken : '{{ csrf_token }}',
                },
                success: function(data) {
                    $('#lst_todo').append(data['element']);
                    window.location.reload(true);                    
                },
                error: handleError,
            });
        }

        function trash_onclick(id) {
            $.ajax({
                type: "POST",
                url: "{% url 'task:get_task' %}",
                data: {
                    id: id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data) {
                    if (window.confirm("Wollen Sie die Aufgabe wirklich löschen?\n"+data['ds'])) {
                        $.ajax({
                            type: "POST",
                            url: "{% url 'task:del_task' %}",
                            data: {
                            id: id,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            },
                            success: function(data) {
                                $(`#ebtn_${id}`).remove();
                                $(`#ce_${id}`).remove();
                                alert("Datensatz gelöscht");
                            }
                        }); 
                    } else {
                        alert("Löschen abgebrochen.");
                    }
                },
                error: handleError,
            });
        }
    </script>
{% endblock content %}

