{% extends "stammdaten/base.html" %}

{% block content %}
<h1>Aufgaben 
    <i 
        class="bi bi-plus text-secondary" 
        title="Aufgabe hinzufügen"
        id = "btn_task_add" 
        ></i>
</h1>
<div class="row shadow border " >
    {% comment %} To Do Liste {% endcomment %}
    <div class = "col-4 border shadow bg-primary-subtle">
        <div class="bg-primary text-center col-12">To Do</div>
        {% for element in todo %}
                <a class="btn btn-outline-dark m-2 shadow col" data-bs-toggle="collapse" href="#ce_{{element.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    {{element.ueber}}
                </a>

            <div class="collapse col-12" id="ce_{{element.id}}">
                <div class="card card-body">
                    {{element.inhalt}}
                </div>
            </div>
        {% endfor %}
    </div>
    {% comment %} Liste progress {% endcomment %}
    <div class = "col-4 border shadow bg-info-subtle">
        <div class = "bg-info text-center col-12 ">Progress</div>
        {% for element in progress %}
            <a class="btn btn-outline-dark m-2 shadow col" data-bs-toggle="collapse" href="#ce_{{element.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{element.ueber}}
            </a>
            <div class="collapse col-12" id="ce_{{element.id}}">
                <div class="card card-body">
                    {{element.inhalt}}
                </div>
            </div>
        {% endfor %}
    </div>
    {% comment %} Liste done {% endcomment %}
    <div class = "col-4 border shadow bg-success-subtle">
        <div class="bg-success text-center col-12">Done</div>
        {% for element in done %}
            <a class="btn btn-outline-dark shadow m-2 col" data-bs-toggle="collapse" href="#ce_{{element.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{element.ueber}}
            </a>
            <div class="collapse col-12" id="ce_{{element.id}}">
                <div class = "card card-body">
                    {{element.inhalt}}
                </div>
            </div>
        {% endfor %}
    </div>
        <div id="grp_detail" class="modal fade hide" role="dialog" tabindex='-1'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content form_content  bg-primary-subtle shadow">
                {% include './task_modal.html' %}
            </div>
        </div>
    </div>
    <script>
        $('#btn_task_add').click(function(e) {
            $.ajax({
                type: "POST",
                url: "{% url 'task:get_task_form' %}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    bereich = data['bereich'];
                    console.log(bereich);
                    $('#task-bereich').html(bereich);
                },
                error: handleError,
            });
            $('#grp_detail').modal('show');
        })
        
        function handleSuccess(data) {
            $(".form_content").html(data.group_form);
        };

        function handleError(error_data) {
            console.log("error");
            console.log(error_data);
        };

    </script>
{% endblock content %}

