{% extends "kklausur/aklausur.html" %}

{% block title %}MAUSB Klausur Detail{% endblock title %}
{% block detail_klausur %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css" integrity="sha512-Ars0BmSwpsUJnWMw+KoUKGKunT7+T8NGK0ORRKj+HT8naZzLSIQoOSIIM3oyaJljgLxFi0xImI5oZkAWEFARSA==" crossorigin="anonymous" referrerpolicy="no-referrer">
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js" integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    

<h2>Details Klausur</h2>
    <form>
        <div class="mb-3">
            <label for="frmTitel" class="form-label">Titel</label>
            <input 
                type        = "text" 
                class       = "form-control" 
                id          = "frmTitel"
                value       = "{{klausur_detail.title}}"
                onchange    = "onchange_txt_title(this, {{klausur_detail.id}})"
            >       
        </div>
        <div class="mb-3">
        <label for="frmSelect" class="form-label">Thema</label>
            <select 
                class       = "form-select" 
                id          = "frmSelect"
                onchange    = "onchange_sct_thema(this, {{klausur_detail.id}})"
            >
                <option value="-" selected>Auswahl</option>
                {% for thema in themen %}
                    <option 
                        value="{{thema.id}}"
                        {% if klausur_detail.thema.id == thema.id %}selected {% endif %}
                    >{{thema}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3 col-3">
            <label for="dt_termin">Termin</label>
            <input
                class       = "form-control"
                type        = "datetime-local"
                id          = "dt_termin"
                name        = "meeting-time"
                value       = "{{str_date}}"
                onchange    = "onchange_dt_termin(this, {{klausur_detail.id}})" 
            />
        </div>    
        <div class="mb-3 col-4">
            <label for="check_erledigt">Erledigt</label>
            <input 
                class       = "form-check-input" 
                type        = "checkbox" value=""
                onchange    = "onchange_cb_erledigt(this, {{klausur_detail.id}})"
                id="check_erledigt" 
                {% if klausur_detail.erledigt  %} checked {% endif %} >
        </div>
        <div class="mb-3">
            <label for="ta_comment" class="form-label">Kommentar</label>
            <textarea 
                class="form-control" 
                id="ta_comment" 
                rows="1"
                onchange    = "onchange_ta_comment(this, {{klausur_detail.id}})"
                >{{klausur_detail.comment}}</textarea>
        </div>
        <div class="mb-3 row">
            <div class="m-3 col-5">
                <h3>Mögliche Fragen</h3>
                {% comment %} Auswahl Thema für Fragen {% endcomment %}
                <label for="frmSelect_qt" class="form-label">Thema</label>
                <select 
                    class       = "form-select" 
                    id          = "frmSelect_qt"
                    onchange    = "onchange_sct_fragen_thema(this, {{klausur_detail.id}})"
                >
                    <option value="-" selected>Auswahl</option>
                    {% for thema in themen %}
                        {% if thema.get_count_questions > 0 %}
                            <option 
                                    value="{{thema.id}}"
                            >{{thema.get_kuerzel}} {{thema.inhalt}} ({{thema.get_count_questions}} {% if thema.get_count_questions == 1 %}Frage{% else %}Fragen{% endif %})</option>
                        {% endif %}
                    {% endfor %}
                </select>

                {% comment %} Auswahl Fragen {% endcomment %}
                <label for="frmSelect_q" class="form-label">Mögliche Fragen</label>
                <select 
                    class       = "form-select" 
                    id          = "frmSelect_q"
                    size        = "7"
                    ondblclick  = "ondblcl_q(this, {{klausur_detail.id}});"

                    {% comment %} onchange    = "" {% endcomment %}
                >{{sct_lst_qp | safe }}
                </select>

            </div>
            <div class="m-3 col-6" id = "frmSelect_qk">
                {{sct_str_qk | safe}}
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {$('#frmSelect').selectize();});
    $(document).ready(function() {$('#frmSelect_qt').selectize();});
    function onchange_txt_title(element, klausur) {
        $.ajax({
            type: "POST",
            url: "{% url 'klausur:chg_klausur_title' %}",

            data: {
                klausur : klausur,
                title   : element.value,

                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {

            }
        });
    }
    function onchange_sct_thema(element, klausur) {
        $.ajax({
            type: "POST",
            url: "{% url 'klausur:chg_klausur_thema' %}",

            data: {
                klausur : klausur,
                thema   : element.value,

                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {

            }
        });
    }    
    function onchange_dt_termin(element, klausur) {

        $.ajax({
            type: "POST",
            url: "{% url 'klausur:chg_klausur_termin' %}",

            data: {
                klausur : klausur,
                datum   : element.value,

                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {

            }
        });
    }
    function onchange_cb_erledigt(element, klausur) {
        $.ajax({
            type: "POST",
            url: "{% url 'klausur:chg_klausur_erledigt' %}",

            data: {
                klausur : klausur,
                erledigt   : element.checked,

                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {

            }
        });
    }
    function onchange_ta_comment(element, klausur) {
        $.ajax({
            type: "POST",
            url: "{% url 'klausur:chg_klausur_comment' %}",

            data: {
                klausur : klausur,
                comment : element.value,

                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {

            }
        });
    }
 
    function onchange_sct_fragen_thema(element, klausur) {
        $.ajax({
            type: "POST",
            url: "{% url 'klausur:chg_klausur_tq' %}",

            data: {
                thema   : element.value,
                klausur : klausur,

                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(data) {
                $('#frmSelect_q').html(data['liste']);
            }
        });
    }

    function ondblcl_q(element, klausur) {
        $.ajax({
            type: "POST",
            url: "{% url 'klausur:add_klausur_q' %}",

            data: {
                quest   : element.value,
                klausur : klausur,

                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function(data) {
                $('#frmSelect_qk').html(data['liste']);
                $('#pq_'+element.value).remove();
            }
        });        
    }
</script>
{% endblock detail_klausur %}   