
/* Hintergrundbild */
body {
    background-image: url("../pics/hintergrund1.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    /* filter: saturate(50%); */
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    height: 95vh;
}

/* Überblendeffekt für Teilnehmerbilder */
.hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
}

.hover-image {
    visibility: hidden;
}

body:not(.mobile) .hover-title:hover + .hover-image {
    visibility: visible;
    pointer-events: none;
}

.hover-image {
    display: flex;
    position: fixed;
    top: 65%;
    left: 85%;
    transform: translate(-50%, -50%);
    z-index: 100;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

/* Change width and height to scale images */
    width: 90vw;
    height: 90vh;
}

.hover-image img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
}