{% extends "anwesenheit/anw_group.html" %}

{% block content %}
    {% for tn in teilnehmer %}
    <div class="row m-2 border border-1 rounded-pill">
        <div class = "col-3">
            {{tn.name}} ({{tn.profession.short}})
        </div>
        <div class = "col-1">
            <button type="button" class="btn btn-outline-success" onclick="addtermin({{tn.id}}, 1)">Anwesend</button>
        </div>
        <div class = "col-1">
            <button type="button" class="btn btn-outline-danger" onclick="addtermin({{tn.id}}, 2)">Abwesend</button>
        </div>

    </div>
    {% endfor %}
    <script>
        function addtermin(teilnehmer, code) {
            console.log(teilnehmer,code);
        }
    </script>
{% endblock content %}


