{% extends "stammdaten/base.html" %}

{% block title %}Sitzplan{% endblock title %}

{% block content_fluid %}
<div class="row">
    {% comment %} Sitzplan {% endcomment %}
    <div class="col-9 row">
        <div class="col">
            <h1>Sitzplan Raum {{raum.bezeichnung}}</h1>
        </div>
        {% comment %} Button Raum {% endcomment %}
        <div class="col">
            <a href="{% url 'anw:anw_detail' id=gruppe.id %}"><button type="button" class="btn btn-outline-dark float-end">Anwesenheit</button></a>
        </div>
        {% for reihe in elements %}
            <div class="row border">
            {% for spalte in reihe %}
                {% comment %} Reihe für Gang freilassen {% endcomment %}
                {% if raum.gang == forloop.counter %} 
                    <div class="col shadow rounded-pill "></div>
                {% endif %}
                {% comment %} Sitzplatz für Sitzplatz {% endcomment %}
                <div id="sitz{{forloop.parentloop.counter0}}_{{forloop.counter0}}" class="{{spalte.1}} col border shadow m-3 text-center rounded-pill bg-opacity-75"
                 ondrop="dropHandler(event, {{forloop.counter0}}, {{forloop.parentloop.counter0}}, {{raum.id}})" ondragover="dragoverHandler(event)">
                    {% if spalte %}
                        <span class="hover-title" onclick="onclick_plan({{spalte.0.teilnehmer.id}})">
                            {{spalte.0.teilnehmer}} 
                        </span>
                        {% if spalte.0.teilnehmer.picture %}
                        <div class="hover-image bg-opacity-100 shadow">
                            <img src="{{ spalte.0.teilnehmer.picture.url }}"/>
                        </div>{% endif %}
                        <i class="bi bi-trash" onclick="del_sitz({{spalte.0.id}})"></i>                       
                    {% else %}
                         - 
                    {% endif %}
                </div>
            {% endfor %}    
            </div>   
        {% endfor %}
    </div>

    {% comment %} Leiste Teilnehmer {% endcomment %}
    <div class="col-2" id="liste_tn">
        {% for tn in teilnehmer %}
            <div id="{{tn.id}}" class="border col-12 m-2 shadow hover-title" draggable="true" ondragstart="dragstartHandler(event)">{{tn}}</div>
            {% if tn.picture %}<div class="hover-image bg-opacity-100 shadow"><img src="{{ tn.picture.url }}"/></div>{% endif %}
        {% endfor %}
    </div>
</div>
<script>
function dragstartHandler(ev) {
  ev.dataTransfer.setData("teilnehmer", ev.target.id);
}

function dragoverHandler(ev) {
  ev.preventDefault();
}

// D&D auf TN auf Sitzplatz
function dropHandler(ev, spalte, zeile, raum) {
    ev.preventDefault();
    const teilnehmer = ev.dataTransfer.getData("teilnehmer");
    // console.log(teilnehmer, zeile, spalte, raum);
    // Backend Save data
    $.ajax({
        type: "POST",
        url: "{% url 'anw:saveplan' %}",
        data: {
            raum: raum,
            zeile: zeile,
            spalte: spalte,
            teilnehmer: teilnehmer,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
            // Change Sitz
            div_string = `<span class="hover-title" onclick="onclick_plan(${data['teilnehmer_id']})">
                           ${data['teilnehmer']} 
                        </span>`
            $('#sitz'+zeile+'_'+spalte).html(div_string);

            // Bild hinzufügen
            image_str = `<div class="hover-image bg-opacity-100 shadow"><img src="${data['tn_picture']}"></div>`;
            $('#sitz'+zeile+'_'+spalte).append(image_str);
            
            // Hintergrundfarben löschen
            $('#sitz'+zeile+'_'+spalte).removeClass('bg-secondary');
            $('#sitz'+zeile+'_'+spalte).removeClass('bg-success');
            $('#sitz'+zeile+'_'+spalte).removeClass('bg-danger');
            

            // Hintergrundfarbe setzen
            $('#sitz'+zeile+'_'+spalte).addClass(data['bg_color']);

            // Papierkorb einfügen
            trash_string = `<i class="bi bi-trash" onclick="del_sitz(${data['plan_id']})"></i>`;
            $('#sitz'+zeile+'_'+spalte).append(trash_string);


            // Remove TN von Liste rechts
            $('#'+teilnehmer).remove();
            if (data['teilnehmer_old'] != 'None'){
                let div_str = '<div id="'+data['tno_id']+'" class="border col m-2 shadow" draggable="true" ondragstart="dragstartHandler(event)">'+data['teilnehmer_old']+'</div>'
                $( "#liste_tn" ).append(div_str);
            }
            
        }
    });
  // Remove TN  

}

function del_sitz(id) {
    $.ajax({
        type: "POST",
        url: "{% url 'anw:delplan' %}",
        data: {
            id: id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
            $('#sitz'+data['zeile']+'_'+data['spalte']).text("-")
            
            // Hintergrundfarben löschen
            $('#sitz'+data['zeile']+'_'+data['spalte']).removeClass('bg-secondary');
            $('#sitz'+data['zeile']+'_'+data['spalte']).removeClass('bg-success');
            $('#sitz'+data['zeile']+'_'+data['spalte']).removeClass('bg-danger');

            // Gelöschter Teilnehmer zur TN-Liste hinzufügen
            str_tn_listeintrag = `<div id="${data['teilnehmer_id']}" class="border col-12 m-2 shadow hover-title" draggable="true" ondragstart="dragstartHandler(event)">${data['teilnehmer']}</div>`;
            $('#liste_tn').append(str_tn_listeintrag);
        }
    });
    
}

// Anwesenheit Sitzplan 
function onclick_plan(id_tn) {
    $.ajax({
        type: "POST",
        url: "{% url 'anw:savedateplan' %}",
        data: {
            teilnehmer: id_tn,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {

            // Alle möglichen Farben löschen
            $('#sitz'+data['zeile']+'_'+data['spalte']).removeClass('bg-secondary');
            $('#sitz'+data['zeile']+'_'+data['spalte']).removeClass('bg-success');
            $('#sitz'+data['zeile']+'_'+data['spalte']).removeClass('bg-danger');

            // Neue Hintergrundfarbe setzen
            $('#sitz'+data['zeile']+'_'+data['spalte']).addClass(data['bg_color']);

        }
    });

}
</script>
{% endblock content_fluid %}