{% extends "anwesenheit/anw_group.html" %}

{% block content %}
    {% for tn in teilnehmer %}
    <div class="row m-2 border border-1 rounded-pill row">
        <div class = "col-3">
            {{tn.name}} ({{tn.profession.short}})
        </div>
        <div class="col-3 row" id="btn{{tn.id}}">
            <div class = "col">
                <button type="button" class="btn btn-outline-success" onclick="addtermin({{tn.id}}, 1)">Anwesend</button>
            </div>
            <div class = "col">
                <button type="button" class="btn btn-outline-danger" onclick="addtermin({{tn.id}}, 2)">Abwesend</button>
            </div>
        </div>
        <div class="col">
            <p id="fz{{tn.id}}"></p>
        </div> 

    </div>
    {% endfor %}
    <script>
        function addtermin(teilnehmer, code) {
            anwesend = code == 1 ? true : false;
            $.ajax({
                type: "POST",
                url: "{% url 'anw:savedate' %}",
                data: {
                    teilnehmer: teilnehmer,
                    anwesend: anwesend,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    // Button neu generieren
                    let btn_color = anwesend ? "success" : "danger";
                    let btn_text = anwesend ? "Anwesend" : "Abwesend";
                    let btn_code = anwesend ? 2 : 1;
                    let str_btn = "<div class='col-3'>";
                    str_btn += `<button type="button" class="btn-block btn btn-outline-${btn_color}" onclick="addtermin(${teilnehmer}, ${btn_code})">${btn_text}</button>`;
                    str_btn += "</div>";
                    $('#btn'+ teilnehmer).html(str_btn)

                    // Anwesenheitsliste generieren
                    
                    time = data['time']
                    let color = ""
                    if (code == '1') {
                        color = "text-success"
                    }
                    else {
                        color = "text-danger"
                    }   
                    let string = '<i class="bi bi-circle-fill me-2 ' + color +'"></i>' + time +'; '+$('#fz'+teilnehmer).html()
                    $('#fz'+teilnehmer).html(string);
                }
            });
        }
    </script>
{% endblock content %}


