{% extends "stammdaten/base.html" %}

{% block title %}Sitzplan{% endblock title %}

{% block content_fluid %}
<div class="row">
    {% comment %} Sitzplan {% endcomment %}
    <div class="col-9 row">
        <div class="col">
            <h1>Sitzplan Raum {{raum.bezeichnung}}</h1>
        </div>
        {% comment %} Button Raum {% endcomment %}
        <div class="col">
            <a href="{% url 'anw:anw_detail' id=gruppe.id %}"><button type="button" class="btn btn-outline-dark float-end">Anwesenheit</button></a>
        </div>
        {% for reihe in elements %}
            <div class="row border">
            {% for spalte in reihe %}
                {% if raum.gang == forloop.counter %} 
                    <div class="col shadow rounded-pill "></div>
                {% endif %}
                <div id="sitz{{forloop.parentloop.counter0}}_{{forloop.counter0}}" class="col border shadow m-3 text-center rounded-pill bg-light bg-opacity-75"
                 ondrop="dropHandler(event, {{forloop.counter0}}, {{forloop.parentloop.counter0}}, {{raum.id}})" ondragover="dragoverHandler(event)">
                    {% if spalte %}<span class="hover-title">{{spalte.teilnehmer}} <i class="bi bi-trash" onclick="del_sitz({{spalte.id}})"></i></span>{% else %} - {% endif %}
                    {% if spalte %}{% if spalte.teilnehmer.picture %}<div class="hover-image bg-opacity-100 shadow"><img src="{{ spalte.teilnehmer.picture.url }}"/></div>{% endif %}{% endif %}
                </div>
            {% endfor %}    
            </div>   
        {% endfor %}
    </div>

    {% comment %} Leiste Teilnehmer {% endcomment %}
    <div class="col-2" id="liste_tn">
        {% for tn in teilnehmer %}
            <div id="{{tn.id}}" class="border col-12 m-2 shadow hover-title" draggable="true" ondragstart="dragstartHandler(event)">{{tn}}</div>
            {% if tn.picture %}<div class="hover-image bg-opacity-100 shadow"><img src="{{ tn.picture.url }}"/></div>{% endif %}
        {% endfor %}
    </div>
</div>
<script>
function dragstartHandler(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function dragoverHandler(ev) {
  ev.preventDefault();
}

function dropHandler(ev, spalte, zeile, raum) {
    ev.preventDefault();
    const teilnehmer = ev.dataTransfer.getData("text");
    // console.log(teilnehmer, zeile, spalte, raum);
    // Backend Save data
    $.ajax({
        type: "POST",
        url: "{% url 'anw:saveplan' %}",
        data: {
            raum: raum,
            zeile: zeile,
            spalte: spalte,
            teilnehmer: teilnehmer,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
            // Change Sitz
            $('#sitz'+zeile+'_'+spalte).text(data['teilnehmer']);
             // Remove TN
            $('#'+teilnehmer).remove();
            if (data['teilnehmer_old'] != 'None'){
                let div_str = '<div id="'+data['tno_id']+'" class="border col m-2 shadow" draggable="true" ondragstart="dragstartHandler(event)">'+data['teilnehmer_old']+'</div>'
                $( "#liste_tn" ).append(div_str);
            }
            
        }
    });
  // Remove TN  

}

function del_sitz(id) {
    $.ajax({
        type: "POST",
        url: "{% url 'anw:delplan' %}",
        data: {
            id: id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
            $('#sitz'+data['zeile']+'_'+data['spalte']).text("-")
        }
    });
    
}
</script>
{% endblock content_fluid %}