{% extends "anwesenheit/anw_group.html" %}

{% block content %}
    {% for tn in teilnehmer %}
    <div class="row m-2 border border-1 rounded-pill">
        <div class = "col-3">
            {{tn.name}} ({{tn.profession.short}})
        </div>
        <div class="col-3 row">
            <div class = "col">
                <button type="button" class="btn btn-outline-success" onclick="addtermin({{tn.id}}, 1)">Anwesend</button>
            </div>
            <div class = "col">
                <button type="button" class="btn btn-outline-danger" onclick="addtermin({{tn.id}}, 2)">Abwesend</button>
            </div>
        </div>
        <div class="col">
            <p id="fz{{tn.id}}"></p>
        </div> 

    </div>
    {% endfor %}
    <script>
        function addtermin(teilnehmer, code) {
            console.log(teilnehmer, code);
            $.ajax({
                type: "POST",
                url: "{% url 'anw:savedate' %}",
                data: {
                    teilnehmer: teilnehmer,
                    code: code,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    let time = moment();
                    time = time.format('HH:MM');
                    let color = ""
                    if (code == '1') {
                        color = "text-success"
                    }
                    else {
                        color = "text-danger"
                    }   
                    let string = '<i class="bi bi-circle-fill me-2 ' + color +'"></i>' + time +'; '+$('#fz'+teilnehmer).html()
                    $('#fz'+teilnehmer).html(string);
                }
            });
        }
    </script>
{% endblock content %}


