
    {% comment %} Mehrere Ausbildungsblöcke pro Zeiteinheit möglich {% endcomment %}
    {% for block in day.0 %}           {% comment %} einzelne Ausbildungsblöcke {% endcomment %}
        <div 
            class   = "col" 
            id      = "block_{{block.0.id}}" 
            style   = "background-color: {{block.0.teacher.bg_color}}; 
                       color: {{block.0.teacher.fg_color}};" 
        >
            {{block.0.teacher.short}}
            {% comment %} Löschicon {% endcomment %}
            {% if user.is_authenticated %}
                <i class="bi bi-trash d-print-none" 
                style="background-color: {{block.0.teacher.bg_color}}; color: {{block.0.teacher.fg_color}};" 
                onclick="onclick_trash({{block.0.id}})" 
                ></i>
            {% endif %}
            {% comment %} Input Zusatzinfo Block {% endcomment %}
            <br />
            <input 
                class    = "d-print-none"
                title    = "Zusatzinfo" 
                style    = "background-color: {{block.0.teacher.bg_color}}; width: 80%; color: {{block.0.teacher.fg_color}};"
                {% if user.is_authenticated %} 
                    onchange = "onchance_info({{block.0.id}}, event.currentTarget.value)" 
                {% endif %}
                value    = {% if block.0.content %} "{{block.0.content}}"{% else %} "" {% endif %}
            >
            {% comment %} Inhalte Druckversion {% endcomment %}
                <span id="inh_{{block.0.id}}" class="d-none d-print-block" >{% if block.0.content %}{{block.0.content}}{% else %} - {% endif %}</span>
                <span id="le_{{block.0.id}}" class="d-none d-print-block" >{% if block.0.lerneinheit%}{{block.0.lerneinheit.get_kuerzel}}{% else %} - {% endif %}</span>
                {% if user.is_authenticated %}
                {% comment %} Auswahl Ausbildungseinheit {% endcomment %}
                <select 
                    class="mb-3 d-print-none" title="Inhalt der Ausbildung" 
                    style="background-color: {{block.0.teacher.bg_color}}; width: 80%; color: {{block.0.teacher.fg_color}};"
                    onchange = "onchange_le({{block.0.id}}, event.currentTarget.value)"
                >
                    <option value="-1">-------</option>
                    {% for lerneinheit in block.1 %}
                        <option 
                            value    = "{{lerneinheit.id}}" 
                            title    = "{{lerneinheit.beschreibung}}"
                            {% if block.0.lerneinheit.id  ==  lerneinheit.id %} selected {% endif %}       
                        >
                            {{lerneinheit}}
                        </option>
                    {% endfor %}
                </select>
                {% else %}
                    {{lerneinheit.beschreibung}}
                {% endif %}
        </div>    
    {% endfor %} {% comment %} ende einzelne Ausbildungsblöcke {% endcomment %}
    <script>
        // Ausbildungsblock löschen
        function onclick_trash(block_id) {
            $.ajax({
                type: "POST",
                url: "{% url 'ausbildungsplan:rem_block' %}",
                data: {
                    block_id: block_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    // Fenster neu laden
                    window.location.reload();
                }
            });            
        }
    </script>                        
