{% extends "stammdaten/base.html" %}

{% block content_fluid %}
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th scope="col">#</th>
                {% comment %} Datum als Überschrift {% endcomment %}
                {% for day in gruppen_plan.0 %}
                    <th scope="col text-center">{{day}}</th> 
                {% endfor %}            
        {% comment %} Gruppe für Gruppe     {% endcomment %}

        {% for gruppe in gruppen_plan.1 %}
            {% comment %} vormittag {% endcomment %} 
            <tr>
                {% comment %} Überschrift Gruppe {% endcomment %}
                <th scope="col>">{{gruppe.0.short}}</th>
                {% for block in gruppe.1.0 %}
                   <td class="shadow text-center">
                    {{block.teacher.short}} <br />
                    {{block.content}}
                   </td>
                {% endfor %}
                {% comment %} nachmittag {% endcomment %}
            <tr>
            {% comment %} Zwischenlinie {% endcomment %}
        {% endfor %}
        </table>
    </div>
{% endblock content_fluid %}