{% extends "stammdaten/base.html" %}

{% block content_fluid %}
    <div class="row justify-content-center align-items-center g-2 ">
        {% comment %} Auswahl Datum 1. Spalte {% endcomment %}
        <div class="col-1 border border-2 border-black text-center me-3 shadow" style="background-color: #EB362C">
            <input 
                id="dateselect" 
                type="date" 
                style="background-color: #EB362C" 
                value="{{date_html}}" 
                onchange="dat_onchange({{team.id}})"/>
        </div>
        {% comment %} Datumsleiste 2. - 6. Spalte{% endcomment %}
        {% for day in days %}
        <div class="col-2 border border-2 border-black text-center me-3 shadow display-6" style="background-color: #4CD8EB">
            {{day}}
        </div>    
        {% endfor %}
        {% for gruppe in gruppen_plan %}
            <hr class="m-3"/>
            {% comment %} Tageszeiten {% endcomment %}
            {% for daytime in gruppe.1 %}
                {% comment %} Gruppenname 1. Spalte {% endcomment %}
                <div class="col-1 border border-2 border-black text-center me-3 shadow" style="background-color: #4CD8EB">
                    {% if forloop.counter0 == 0 %} {{gruppe.0}} {% else %} {{gruppe.0.raum.bezeichnung}} {% endif %}
                </div>
                {% comment %} Ausbildung 2. - 6. Spalte {% endcomment %}
                {% for day in daytime %}
                <div class="col-2 border border-1 border-black rounded-4 text-center me-3 shadow"
                    id    = "block_{{forloop.parentloop.parentloop.counter0}}_{{forloop.parentloop.counter0}}_{{forloop.counter0}}" 
                    style      = "background-color: {{day.teacher.bg_color}}; 
                                  color: {{day.teacher.fg_color}};"
                    ondragover = "allowDrop(event)" 
                    ondrop     = "drop_btnma(event, {{ forloop.parentloop.counter0 }}, {{forloop.counter0 }}, {{gruppe.0.id}}, {{team.id}}, '{{days.0}}')"
                >
                    {% if day == None %}
                        <p>Ungeplant</p>
                    {% else %}
                        <span >{{day.teacher.user.last_name}}</span>
                        <i class="bi bi-trash " 
                          style="background-color: {{day.teacher.bg_color}}; color: {{day.teacher.fg_color}};" 
                          onclick="onclick_trash({{day.id}},{{ forloop.parentloop.counter0 }}, {{forloop.counter0 }}, {{gruppe.0.id}}, {{team.id}}, '{{days.0}}', {{ forloop.parentloop.parentloop.counter0 }})" 
                        ></i>
                        <br />
                        {% comment %} Input Zusatzinfo Block {% endcomment %}
                        <input 
                            title    ="Zusatzinfo" 
                            style    ="background-color: {{day.teacher.bg_color}}; width: 80%; color: {{day.teacher.fg_color}};" 
                            onchange = "onchance_info({{day.id}}, event.currentTarget.value)" 
                            value    = {% if day.content %} "{{day.content}}"{% else %} "" {% endif %}
                        >
                        <br />
                        <select class="mb-3" title="Inhalt der Ausbildung" style="background-color: {{day.teacher.bg_color}}; width: 80%;">
                            <option>-------</option>
                        </select>
                    {% endif %}
                </div>    
                {% endfor %}
            {% endfor %}
        {% endfor %}
        {% comment %} Freie Mitarbeiter {% endcomment %}
        <hr class="my-3>"/>
        {% for daytime in freie_ma%}
            {% comment %} 1. Spalte  {% endcomment %}
            <div class="col-1 border border-2 border-black text-center me-3 shadow d-print-none" style="background-color: rgba(68, 238, 122, 0.73)">
                Freie MA
                {% if forloop.counter0 == 0 %} AM {% endif %}
                {% if forloop.counter0 == 1 %} PM {% endif %}
            </div>
            {% comment %} Spalte 2 - 6 {% endcomment %}
            {% for day in  daytime %}
            <div 
                class = "col-2 border border-2 border-black text-center me-3 shadow d-print-none" 
                style = "background-color: #4CD8EB" 
                id    = "lfm_{{forloop.parentloop.counter0}}_{{forloop.counter0}}"
            >
                {% for ma in day %}
                {% comment %} Button freier Mitarbeiter {% endcomment %}
                    <button 
                        id = "ma_{{ma.id}}" 
                        draggable = "true" 
                        ondragstart = "drag_btnma(event)" 
                        typ="button" 
                        class="shadow rounded-3 m-1" 
                        style="background-color: {{ma.bg_color}}; color: {{ma.fg_color}}">
                    {{ma.user.last_name}}
                    </button>
                {% endfor %}
            </div>
            {% endfor %}
        {% endfor %}
        {% comment %} Liste Abwesenheit {% endcomment %}
        <hr class="my-3>"/> 
        {% comment %} 1. Spalte  {% endcomment %}
        <div class="col-1 border border-2 border-black text-center me-3 shadow d-print-none" style="background-color: rgba(68, 238, 122, 0.73)">
            Abwesende Mitarbeiter
            <a href="/admin/stammdaten/abwesendma/" target="_blank"><i class="bi bi-plus-square"></i></a>
        </div>
        {% comment %} Spalte 2 - 6 {% endcomment %}
        {% for day in  abw_ma %}
        <div 
            class = "col-2 border border-2 border-black text-center me-3 shadow d-print-none" 
            style = "background-color: #4CD8EB" 
            id    = "lfm_{{forloop.parentloop.counter0}}_{{forloop.counter0}}"
            ondragover = "allowDrop(event)" 
            ondrop     = "drop_ma_abw(event, {{forloop.counter0 }}, {{team.id}}, '{{days.0}}')"
        >
            {% if day|length == 0 %} <br />{% endif %}
            {% for ma_abw in day %}
                <a href="/admin/stammdaten/abwesendma/{{ma_abw.id}}/change/" target="_blank">
                    {% comment %} Button abwesender Mitarbeiter {% endcomment %}
                    <button 
                        id = "ma_{{ma_abw.id}}" 
                        title = "{{ma_abw.get_daytime_display}} - {{ma_abw.comment}}" 
                        draggable = "true" 
                        ondragstart = "drag_btnma(event)" 
                        typ="button" 
                        class="shadow rounded-3 m-1" 
                        style="background-color: {{ma_abw.aubi.bg_color}}; color: {{ma_abw.aubi.fg_color}}">
                    {{ma_abw.aubi.user.last_name}}
                    </button>
                </a>
            {% endfor %}
        </div>
        {% endfor %}


    </div>
    
    <script>
        function dat_onchange(team) {
            let dates = $('#dateselect').val();
            var formattedDate = moment(dates).format('DD.MM.YYYY');
            window.location = `/plan/${team}/${formattedDate}`;
        }

        function drag_btnma(ev) {
            ev.dataTransfer.setData("id", ev.target.id);  
        }

        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drop_btnma(ev, daytime, days, group, team, date_monday) {
            // alert("Test");
            ev.preventDefault();
            var aubi = ev.dataTransfer.getData("id");
            $.ajax({
                type: "POST",
                url: "{% url 'ausbildungsplan:ausw_pp' %}",
                data: {
                    ausbilder: aubi,
                    daytime: daytime,
                    days: days,
                    group, group,
                    monday: date_monday,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {

                    window.location = `/plan/${team}/${date_monday}`;
                }
            });
        }
        function onclick_trash(block_id, daytime, day, gruppe, team, date_monday, group_row) {
            $.ajax({
                type: "POST",
                url: "{% url 'ausbildungsplan:rem_block' %}",
                data: {
                    block_id: block_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                    // Block löschen
                    $(`#block_${group_row}_${daytime}_${day}`).html(`<p>Ungeplant</p>`);
                    $(`#block_${group_row}_${daytime}_${day}`).attr('style', '');
                    
                    // MA in freie Ausbilder hinzufügen
                    $(`#lfm_${daytime}_${day}`).append(`<button id="ma_${data['aubi_id']}" draggable="true" ondragstart="drag_btnma(event)" typ="button" class="shadow rounded-3 m-1" style="background-color: ${data['aubi_bg']}; color: ${data['aubi_fg']}">${data['aubi_name']}</button>`);
                }
            });            
        }
        function onchance_info(id, text) {
            $.ajax({
                type: "POST",
                url: "{% url 'ausbildungsplan:save_content' %}",
                data: {
                    id: id,
                    content: text,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                }
            });            
            
        }
        function drop_ma_abw(event, day, team, date) {
            // D&D Mitarbeiter auf Mitarbeiter abwesend
            $.ajax({
                type: "POST",
                url: "{% url 'ausbildungsplan:add_abwpp' %}",
                data: {
                    id: id,
                    content: text,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                }
            });            
            
        }
    </script>    
{% endblock content_fluid %}