{% extends "stammdaten/base.html" %}

{% block content %}
    <h1>Binär Übungen (<span id="txt_str_bin">{{str_bin}}</span>)</h1>
    <div class = "row text-center">
        {% for digit in number %}
            {% if digit.1 == 8 %} &nbsp; &nbsp; {% endif %}
            <button 
                type="button" 
                class   = "col btn shadow btn{% if digit.0 == 0 %}-outline{% endif %}-secondary me-1"
                id      = "btn_bin_{{forloop.counter0}}"
                onclick = "oc_digit({{forloop.counter0}})"
                >
                {{digit.0}}/{{digit.1}}
            </button>
        {% endfor %}
        <div class="col">
            <button 
                type="button" 
                class   = "col btn btn-outline-success ms-4 shadow"
                id      = "btn_bin_erg"               
            >
            {{wert}}        
            </button>
        <div>
    </div>
    <script>
        function oc_digit(number) {
        var wert = $('#btn_bin_erg').text();
        $.ajax({
            type: "POST",
            url: "{% url 'learn:set_bit' %}",
            data: {
                number  : number,
                wert    : wert,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(data) {
                // Wert neu setzen
                $('#btn_bin_erg').text(data['wert']);
                // Button anpassen
                if ($('#btn_bin_'+number).hasClass('btn-secondary')) {
                    $('#btn_bin_'+number).removeClass('btn-secondary');
                    $('#btn_bin_'+number).addClass('btn-outline-secondary');
                    $('#btn_bin_'+number).text('0'+"/"+data['potenz']);
                } else {
                    $('#btn_bin_'+number).removeClass('btn-outline-secondary');
                    $('#btn_bin_'+number).addClass('btn-secondary');
                    $('#btn_bin_'+number).text('1'+"/"+data['potenz']);
                }
                $('#txt_str_bin').text(data['str_bin'])
            }
        });                        
        }
    </script>
{% endblock content %}
 
